[features]
#feature type
name = text 
file = /esat/spchtemp/scratch/qmeeus/repos/espnet-stable/egs/librispeech/asr1/dump/fluent/deltafalse/text 
agg = none 
encoder = bert-base-uncased 
storage = numpy
